{% if app.user %}
	{% if notification is defined %}
		<div class="alert alert-info"> {{notification}}
		</div>
	{% endif %} {{ form_start(form) }}<div class="row align-items-center">
		<div class="col-10"> {{ form_row(form.message) }}
		</div>
		<div class="col-2"> {{ form_row(form.submit) }}</div> {{ form_end(form) }}
	{% else %}
		<p class="text-dark text-center">Vous devez etre connecter pour ajouter un commentaire.</p>
	{% endif %}
