{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks
{% endblock %}

{% block body %}
	<div class="row pt-5">
		<div class="col-md-3"></div>
		<div class="col-md-9">
			<h3>Liste des figures</h3>
			<div class="row">
				{% if notification is defined %}
					<div class="alert alert-info"> {{notification}}
					</div>
				{% endif %}
				<a href="{{ path('new') }}" class="btn btn-primary mb-3">Ajouter une nouvelle figure</a>
				{% for figure in figures %}
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<div class="card-header text-center">
								<img class="card-img-top" src="https://via.placeholder.com/300x200" alt="...">
							</div>
							<div class="card-body">
								<h3 class="mb-0">
									<a class="text-dark" href="#">
										<a href="#">{{ figure.title }}</a>
										<a href="{{ path('edit', {'id': figure.id}) }}"><img src="{{ asset('assets/img/pencil.png') }}" class="mx-2" alt="Mon panier" height="20px"></a>
										<a href="{{ path('delete', {'id': figure.id}) }}"><img src="{{ asset('assets/img/trash.png') }}" class="mx-2" alt="Mon panier" height="20px"></a>
									</h3>
								</div>
							</div>
						</div>
					{% else %}
						<p class="text-dark">Aucune figure</p>
					{% endfor %}
				</div>
			</div>

		</div>
	{% endblock %}
