{% extends 'base.html.twig' %}

{% block title %} {{ figure.title }}
{% endblock %}

{% block body %}

	<div class="row pt-5">
		<div
			class="col-md-12">
			<!-- Update/Delete Figure -->
			<div class="d-flex justify-content-end">
				{% if is_granted('figure_edit',figure) %}
					<a href="{{ path('edit', {'slug': figure.slug}) }}"><img src="{{ asset('assets/img/pencil.png') }}" class="mx-2" alt="stylo" height="20px"></a>
				{% endif %}
				{% if is_granted('figure_delete',figure) %}
					<a href="{{ path('delete', {'slug': figure.slug}) }}"><img src="{{ asset('assets/img/trash.png') }}" class="mx-2" alt="poubelle" height="20px"></a>
				{% endif %}
			</div>
			<!-- Image 1 -->
			<div class="card text-white mb-5">
				{% for illustration in figure.illustrations %}
					{% if loop.first %}
						<img src="{{ asset('/uploads/illustrations/' ~ illustration.name) }}" alt="Image">
					{% endif %}
				{% else %}
					<img src="https://via.placeholder.com/300" alt="Image">
				{% endfor %}
				<div class="card-img-overlay">
					<h1 class="card-title text-center">{{ figure.title }}</h1>
				</div>
			</div>
		</div>
		<!-- Media --> {{ include('home/_media.html.twig') }}

		<div>
			<!-- Figure Description -->
			<p class="text-center mt-3">{{figure.content}}</p>
			<p class="text-center mb-4">
				<span class="badge bg-info">{{figure.category.name}}</span>
				<span class="badge bg-info">Créer le {{figure.createdAt|date("d/m/Y") }}</span>
				<span class="badge bg-info">Mise à jour le {{figure.publishedAt|date("d/m/Y") }}</span>
			</p>
		</div>
		<hr>
		<!-- Form Comment --> {{ include('home/_form.html.twig') }}
		<hr>
		<!-- Comments --> {{ include('home/_comment.html.twig') }}
	</div>
{% endblock %}
{% block script %}
	<script src="{{ asset('js/media.js') }}"></script>
{% endblock %}
